 * {
     margin: 0;
     padding: 0;
 }
 .clear { /*on va mettre toues les classes en haut pour trier le code*/
     clear: both;
 }
 .fondVert {
     background-color: #18bd9b;
 }
 .trait {
     width: 320px;
     height: 2px;
     margin: 23px auto 29px auto;
 }
 .titre {
     text-align: center;
     text-transform: uppercase;
     font-size: 30px;
 }
 .ligne {
     width: 100%;
     display: flex;
 }
 .ligne div {
     width: 33.33%;
     padding: 23px 63px;
 }
 .ligne div img {
     width: 100%; /*pour que les images prennent l'espace de leur parent div*/
     
 }
 .mobile {
     display: none;
 }
 body {
     font-family: sans-serif;
 }
 header {
     /*Header par défaut à 100% de largeur*/
     /*en position fixed, en revanche il va perdre sa largeur*/
     width: 100%;
     background-color: #2d3e50;
     /*Float pour mettre le titre à gauche et float right pour le menu à droite*/
     /*Egalement, sur les sites onpage, on met en général le header en position fixed*/
     position: fixed; 
     /*il faut positionner les éléments dès qu'on déclare une position*/
     top: 0;
     left: 0;
 }
 header h1 {
     float: left;
     color: #ffffff; /*si on met la couleur en anglais, les navigateurs ne vont pas avoir la même valeur donc il faut mettre en hexadécimal*/
     text-transform: uppercase;
     padding: 17px; /*On joue avec le padding pour centre le logo avec le menu*/
 }
 header nav {
     float: right;
     display: flex;
     
 }
 header nav a {
     text-transform: uppercase;
     color: #ffffff;
     text-decoration: none;
     padding: 27px 20px;
 }
 header nav a:hover {
     /*sur mobile les hover ne fonctionne pas*/
     background-color: #ffffff;
     color: #2d3e50;
     transition: 0.3s;
 }
 #profil {
     width: 100%; /*pas obligatoire, mais pour s'assurer que ça ne bouge pas par la suite*/
     padding: 181px 0 171px 0;
     /*On remarque que tout est centrer et en blanc dans la section donc text-align center et couleur blanche*/
     text-align: center;
     color: #ffffff;
 }
 #profil img {
     margin: auto;
     display: block; /*Pour que le margin auto puisse s'appliquer vu que les images par défaut sont en display inline*/
    }
#profil h2 {
    margin-top: 82px;
    font-size: 55px;
}
#profil .trait {
    background-color: #ffffff;
}
#profil h3 {
    font-size: 25px;
    letter-spacing: 4px;
}
#portfolio {
    width: 100%; /*On vérouille la largeur*/
    padding: 137px 0 138px 0;
}
#portfolio .titre {
    color: #2d3e50;
}
#portfolio .trait {
    background-color: #2d3e50;
}
#calculatrice {
    width: 100%;
    padding: 107px 0 120px 0;
}
#calculatrice .titre {
    color: #ffffff;
}
#calculatrice .trait {
    background-color: white;
}
#calculatrice form {
    width: 451px;
    margin: auto;
}
#contact {
    width: 100%;
    padding:107px 0 90px 0;
}
#contact .titre {
    color: #2d3e50;
}
#contact .trait {
    background-color: #2d3e50;
}
#contact form {
    width: 685px;
    margin: auto;
}
#contact form label {
    color: #2d3e50;
    margin-bottom: 28px;
    display: block;
}
#contact form input[type=text], #contact form input[type=tel], #contact form input[type=email] {
    width: 100%;
    height: 34px;
    border: 1px dashed #2d3e50;
    border-radius: 7px;
    margin-bottom: 28px;
}
#contact form textarea {
    width: 100%;
    height: 104px;
    border: 1px dashed #2d3e50;
    border-radius: 7px;
    margin-bottom: 28px;
    resize: none;
}
#contact form input[type=submit] {
    width: 125px;
    height: 66px;
    margin: auto;
    display: block;
    background-color: #18bd9b;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
}
#contact form input[type=submit]:hover {
    color: #18bd9b;
    background-color: #ffffff;
    border: 1 px solid #18bd9b;
    transition: 0.3s;
}
footer {
    width: 100%;
    color: #ffffff;
    text-align: center;
}
#infos {
    width: 100%;
    background-color: #2d3e50;
    display: flex;
}
#infos div {
    width: 50%;
    padding: 52px 0 35px 0;
}
#infos div a { /*Les icônes sont sous formes de polices donc on peut les manipuler plus facilement*/
    color: #ffffff;
    font-size: 35px;
    text-decoration: none;
}
#infos div a:hover {
    color: #18bd9b;
    transition: 0.3s;
}
#copyright {
    width: 100%;
    background-color: #1b252f;
    padding: 28px 0 17px 0;
}

@media screen and (max-width: 710px) { /*on trouve le format dès lorsqu'il y a un élément qui nous dérange
    (on laisse une petite marge au dessus*/
    .mobile {
        display: block;
    }
    .trait {
        width: 90%;
    }
    .ligne {
        display: block;
    }
    .ligne div{
        width: 100%;
        padding: 15px 30px;
        box-sizing: border-box;
    }
    header h1 {
        padding: 10px;
        font-size: 30px;
    }
    header img {
        float: right;
        width: 40px;
        margin: 7px;
    }
    header nav {
        float: none;
        display: none;
        clear: both;
        text-align: center;
    }
    header nav a {
        display: block;
        font-size: 20px;    
    }
    #profil {
        padding: 120px 0;
    }
    #profil h2 {
        margin: 30px;
        font-size: 45px;
    }
    #profil h3 {
        font-size: 20px;
    }
    #portfolio {
        padding: 100px 0;
    }
    #calculatrice {
        padding: 100px 0;
    }
    #calculatrice form {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    #calculatrice form input, #calculatrice form select {
        width: 28%;
        height: 30px;
    }
    #calculatrice form span {
        text-align: center;
        display: block;
        font-size: 25px;
        margin-top: 15px;
    }
    #contact {
        padding: 100px 0;
    }
    #contact form {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    #contact form input[type=submit] {
        width: 100%;
    }
    #infos {
        display: block;
    }
    #infos div {
        width: 100%;
        padding: 20px 0;
    }
}